html,
body {
  padding: 4em 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  // background-image: url('https://images.squarespace-cdn.com/content/v1/5449c975e4b0f38a8beac149/1452575801640-W8U38EM7T6PYPE74WO5M/beans.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.mainContainer {
  width: 100vw;
  overflow: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

.centeredHoriContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centeredVertContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.block {
  display: block;
}

@keyframes quickFadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

.quickFadeIn {
  animation: quickFadeIn .5s forwards ease-in-out;
}
