.menuIconConatiner {
  margin: 0.5em 0.5em 0 0;
  width: 10%;
  cursor: pointer;
}

.menuContainer {
  position: absolute;
  right: 0;
  width: 100vw;
  height: 10em;
  background: #FFF;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 5px rgb(158, 158, 158);
  transition: .25s;
}
